<!-- BEGIN PRELOADER -->

<div id="preloader" *ngIf="loading">
	<div class="loader">&nbsp;</div>
</div>

<!-- END PRELOADER -->

<!-- SCROLL TOP BUTTON -->
<a class="scrollToTop" (click)="toAbout()"><i class="fa fa-chevron-up"></i></a>
<!-- END SCROLL TOP BUTTON -->



<!-- Start menu section -->
<section id="menu-area">
	<nav class="navbar navbar-default main-navbar" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!-- LOGO -->
				<a class="navbar-brand logo" href="/">
          <img class="img-responsive img-fluid" id="aboutLog" src="../../assets/images/logCIK.jpg" alt="logo">
        </a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul id="top-menu" class="nav navbar-nav main-nav menu-scroll">
						<li><a href="/">HOME</a></li>

						<li><a routerLink="/service">SERVICES</a></li>
            <li><a class="active" routerLink="/announcements">ANNOUNCEMENTS</a></li>

					</ul>
				</div><!--/.nav-collapse -->
      <!-- <div class="search-area">
        <form action="">
          <input id="search" name="search" type="text" placeholder="What're you looking for ?">
          <input id="search_submit" value="Rechercher" type="submit">
        </form>
    </div>   -->
</div>
</nav>
</section>
<!-- End menu section -->




<!-- Start about section -->
<section id="about">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <div class="about-area">
          <div class="row">

            <div class="col-md-7 col-sm-6 col-xs-12" >
              <div class="about-right wow fadeInRight " >
                <div class="title-area col-md-7 col-sm-6 col-xs-12" style="margin-left: 184px">
                  <h3 class="tittle text-center">About <span> Isuku kinyinya </span>  <span>company Ltd</span> </h3>

<div class="wc-table">
    <a  class="navbar-brand logoProfile" href="/"><img class="img-responsive img-fluid" src="assets/images/logCIK.jpg"alt="logo" id="logCIK"/></a>

</div>
                 <div class="wc-table">


                  <p *ngFor="let profile of companyProfile">
                                   <span><h2 style="color: #3aca9f">{{profile.name}}</h2></span>

            {{profile.description}}

     </p>
                 </div>

                  <!-- <span class="tittle-line"></span> -->
                             <div class="wc-table">
                  <p *ngFor="let mission of missions">
                  <span><h2 style="color: #3aca9f">{{mission.title}}</h2></span>
          {{mission.description}}

   </p>

                  <p *ngFor="let vision of visions">
                  <span><h2 style="color: #3aca9f">{{vision.title}}</h2></span>
                   {{vision.description}}
                  </p>
                  <p *ngFor="let value of values">
                      <span><h2 style="color: #3aca9f">{{value.title}}</h2></span>
                   {{value.description}}

                  </p>
                </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End about section -->






<!-- Start Team action -->
<section *ngIf="!loading && data" id="team">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="team-area">
          <div class="title-area">
            <h2 class="tittle">Meet our team</h2>
            <span class="tittle-line"></span>
            <p>
              We work really hard to provide the best services. Meet the team
              behind such commitment.
            </p>
          </div>
          <!-- Start team content -->
          <div class="team-content">
            <ul class="team-grid" *ngIf="users">
              <li
                *ngFor="let member of users"

                data-toggle="modal"
                data-target="#exampleModal"
              >
                <div style="background-size: cover"
                  class="team-item team-img-1 wow fadeInUp  col-lg-1"
                  [ngStyle]="{
                    'background-image': 'url(' + member.image + ')'
                  }"
                >
                  <div class="team-info">

                  </div>
                </div>
                <div class="team-address">
                  <p>{{ member.name }}</p>
                  <span>{{ member.position.title }}</span>
                  <p>{{ member.phone_number }}</p>




                </div>
              </li>
            </ul>
          </div>
          <!-- End team content -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Start Team action -->
<!-- Start Contact section -->

<section>
  <div class="container">
    <div class=" col ">
      <div  class="about-left wow fadeInLeft row  col-md-12 " style=" margin-left: 35%; margin-top: -23px;">
          <h4 class="wc-tittle text-center well text-uppercase text-primary " style="margin-top:-10px; background-color: #3aca9f;color: black;margin-left: -144px;">Working days</h4>

<div  class=" text-center    col-md-6  col-sm-6 col-xs-6 " >

    <h4  > Monday</h4>
    <p>8:00 AM-22:00 PM</p>
    <h4>Twesday</h4>
    <p>8:00 AM-22:00 PM</p>
    <h4>Wenesday</h4>
    <p>8:00 AM-22:00 PM</p>

  </div>
  <div  class=" text-center   col-md-6 col-sm-6 col-xs-6 ">
      <h4>Thirsday</h4>
      <p>8:00 AM-22:00 PM</p>
      <h4>Friday</h4>
      <p>8:00 AM-22:00 PM</p>
      <h4>Sutaday</h4>
      <p>8:00 AM-22:00 PM</p>


    </div>



      </div>
    </div>
  </div>
</section>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="contact-left wow fadeInLeft">
          <h2 align="center">Contact with us</h2>


          <div class="row">
            <div class="col-md-4">
              <address class="single-address">
                <h4>Headquarters:</h4>
                <p>Kigali, Rwanda</p>
                <p>Kigali, Rwanda</p>
                <p> Gasabo - Kinyinya </p>
                <p> Kagugu - Rukingu </p>
              </address>
            </div>
            <div class="col-md-4">
              <address class="single-address">
                <h4>Phone</h4>
                <p>Phone Number:  <a href="tel:+250788800088" target="_blank" rel="noopener noreferrer" style="color: white">+250788800088</a> </p>

              </address>
            </div>
            <div class="col-md-4">
              <address class="single-address">
                <h4>E-Mail</h4>
                <p>
                  Support:
                  <a style="color: white" class="mail-link" href="mailto:isukukinyinyacompany18@gmail.com"
                  >isukukinyinyacompany18@gmail.com</a
                  >
                </p>
              </address>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- End Contact section -->
