

.header-content h2 span {
  color: #3aca9f
}
.knowmore-btn:hover,
.knowmore-btn:focus,
.download-btn:hover,
.download-btn:focus{
  background-color: #3aca9f;
  border-color: #3aca9f
}
.main-nav li a:hover{
  color: #3aca9f
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #4cca9f;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #3aca9f
}
.search-area input[type="text"]:focus:hover {
  border-bottom: 1px solid #3aca9f
}
.search-area input[type="text"]:focus {
  border-bottom: 1px solid #3aca9f
}
.search-area input[type="submit"] {
  background-color: #3aca9f
}
.tittle>span{
  color: #3aca9f
}
.single-wc-content span {
  /* border: 1px solid #3aca9f; */
  color: #3aca9f
}
.single-wc-content:hover .wc-icon{
  background-color:#3aca9f
}
.single-wc-content:hover .wc-tittle{
  border-bottom: 2px solid #3aca9f
}
/*.about-left {
  background-color: #00d999;
}*/
.button-default {
  border: 2px solid #3aca9f!important;
  color: #3aca9f!important;
}
.button-default:hover {
  border-color: #3aca9f
}
.button-default:hover,
.button-default:focus {
  border-color: #3aca9f;
  background-color: #3aca9f !important;
}
.introduction-btn {
  background-color: #3aca9f
}
.team-info {
  /* background: #3aca9f */
}
.team-grid li:hover .team-address p {
  color: #3aca9f
}
/* .single-service {
  border-bottom: 5px solid #3aca9f
} */
.single-service:hover:after{
  background-color: #3aca9f;
  margin-left: 141px;
}
.single-service:hover .service-icon{
  color: #3aca9f
}
.single-service:hover .service-title{
  color: #3aca9f
}
.single-counter > span {
  color: #3aca9f
}
.single-price .price-header {
  background-color: #3aca9f
 }
 .single-price .price-header::after {
  color:#3aca9f
}
.single-price .price-amount {
  border-bottom: 1px solid #3aca9f;
  color: #3aca9f
}
.single-price a {
  border-bottom: 1px solid #3aca9f
}
.standard-price a{
  background-color:#3aca9f
}
.single-from-blog .blog-title h2 a:hover,
.single-from-blog .blog-title h2 a:focus{
  color: #3aca9f
}
.single-from-blog .blog-title .blog-admin{
  color: #3aca9f
}
.single-from-blog .blog-footer a:hover,
.single-from-blog .blog-footer a:focus {
  color: #3aca9f
}
.contact-form .form-control:focus {
  border-color: #3aca9f
}
.portfolio-menu ul li:hover{
  color: #3aca9f;
  border-color: #3aca9f
}
.portfolio-social-icon a {
  background-color: #3aca9f
}
.portfolio-title {
  background-color:#3aca9f
}
.blog-banner-area .breadcrumb li.active{
  color: #3aca9f
}
.blog-pagination > li > a:hover,
.blog-pagination > li > span:hover,
.blog-pagination > li > a:focus,
.blog-pagination > li > span:focus{
  background-color: #3aca9f;
  border-color: #3aca9f
}
.single-widget h2 {
  border-left: 3px solid #3aca9f
}
.popular-post-widget .media-heading a:hover,
.popular-post-widget .media-heading a:focus{
  color: #3aca9f
}
.instagram-feed .slick-prev::before,
.instagram-feed .slick-next::before {
  color: #3aca9f
}
.instagram-feed .slick-dots li.slick-active button{
  background-color: #3aca9f
}
.instagram-feed .slick-dots li.slick-active button::before{
  color: #3aca9f
}
.comment-form .form-control:focus {
  border-color: #3aca9f
}
.error-no {
  border: 2px solid #3aca9f
}
.error-no p {
  color: #3aca9f
}
.blog-details-content>a:hover{
  color: #3aca9f
}
.scrollToTop {
  color: #3aca9f
}
.scrollToTop:hover,
.scrollToTop:focus{
  background-color: #3aca9f
}
.loader {
  background: #00d999;
  background: -moz-linear-gradient(left,#3aca9f 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left,  #3aca9f 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #3aca9f 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #3aca9f 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #3aca9f 10%, rgba(255, 255, 255, 0) 42%);

}
.loader:before {
  background: #3aca9f
}
.footer-bottom p a{
  color:#3aca9f
}
.blog-pagination > li > a,
.blog-pagination > li > span {
  color: #3aca9f
}
.blog-pagination > li > a:hover,
.blog-pagination > li > span:hover,
.blog-pagination > li > a:focus,
.blog-pagination > li > span:focus{
  background-color: #3aca9f

}

