<!-- BEGIN PRELOADER -->

<div id="preloader" *ngIf="loading">
	<div class="loader">&nbsp;</div>
</div>

<!-- END PRELOADER -->

<!-- SCROLL TOP BUTTON -->
<a class="scrollToTop" (click)="toAnnouncement()" ><i class="fa fa-chevron-up"></i></a>
<!-- END SCROLL TOP BUTTON -->



<!-- Start menu section -->
<section id="menu-area" *ngIf="announcements">
	<nav class="navbar navbar-default main-navbar" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!-- LOGO -->
				<a class="navbar-brand logo" href="/">
          <img class="img-responsive img-fluid" src="../../assets/images/logCIK.jpg" alt="logo">
        </a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul id="top-menu" class="nav navbar-nav main-nav menu-scroll">
						<li><a routerLink="/">HOME</a></li>
						<li><a routerLink="/about">ABOUT US</a></li>
						<li><a routerLink="/service">SERVICES</a></li>

					</ul>
				</div><!--/.nav-collapse -->
      <!-- <div class="search-area">
        <form action="">
          <input id="search" name="search" type="text" placeholder="What're you looking for ?">
          <input id="search_submit" value="Rechercher" type="submit">
        </form>
    </div>   -->
</div>
</nav>
</section>
<!-- End menu section -->






<!-- Start blog section -->
  <section id="blog" *ngIf="announcements">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="blog-area">
            <div class="row">
              <div class="col-lg-8 col-md-7 col-sm-12">
                <div class="blog-left blog-archive" *ngFor="let announcement of announcements">




              <!-- LATEST NEWS ANNOUNCEMENTS-->
                  <article  class="single-from-blog " *ngIf="announcement.link && announcement.category=='NEW'">
                    <span  id="latestNews">LATEST NEWS</span>

                    <div class="blog-title">
                      <h2><a >{{announcement.title}}?</a></h2>
                    </div>
                    <p> <strong>Description:</strong>  {{announcement.description}}</p>
                    <p> <strong>Position:</strong>  {{announcement.postion}}</p>
                    <p> <strong>Requirement:</strong>  {{announcement.requirement}}</p>

                    <div class="col-md-12">
                      <h2 id="applyButton"><a  [href]="announcement.link" target="_blank"  >Apply </a></h2>
                    </div>



                  </article>
                  <article  class="single-from-blog " *ngIf="!announcement.link && announcement.category=='NEW'">
                      <span  id="latestNews" >LATEST NEWS</span>
                    <div class="blog-title">
                      <h2><a >{{announcement.title}}</a></h2>
                    </div>
                    <p>{{announcement.description}}</p>




                  </article>

                  <!-- OLD NEWS ANNOUNCEMENTS-->


<article  class="single-from-blog " *ngIf="announcement.link && announcement.category=='OLD'">
    <span id="oldNews">OLD NEWS</span>

    <div class="blog-title">
      <h2><a >{{announcement.title}}?</a></h2>
    </div>
    <p> <strong>Description:</strong>  {{announcement.description}}</p>
    <p> <strong>Position:</strong>  {{announcement.postion}}</p>
    <p> <strong>Requirement:</strong>  {{announcement.requirement}}</p>

    <div class="col-md-12">
      <h2 id="applyButton"><a  [href]="announcement.link" target="_blank"  >Apply </a></h2>
    </div>



  </article>
  <article  class="single-from-blog " *ngIf="!announcement.link && announcement.category=='OLD'">
      <span  id="oldNews">OLD NEWS</span>
    <div class="blog-title">
      <h2><a >{{announcement.title}}</a></h2>
    </div>
    <p>{{announcement.description}}</p>
  <!-- <footer class="text-center">created at: {{announcement.created_at}}</footer> -->



  </article>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End blog section -->
