#service{
  float: left;
  display: block;
  margin-top: 5%;
  margin-left: 2%;
}
#serviceImage{
  width: 208px;
  height: 186px;
  border-radius: 50%;
    margin-left: 160px;
    box-shadow: 0px 0px 4px 0px #4cca9f;
}
#serviceTitle{
  margin-left: 155px;
}
#serviceTitle > h6{
font-size: 21px;
margin-left: 24px;
}
