.data-content{
    /* border: 2px #00d999 solid; */
    padding: 10px;
    margin: 10px;
}

.mail-link, .mail-link:visited, .mail-link:hover, .mail-link:active, .mail-link:focus{
    color: white
}
agm-map{
  margin-left: -234px;
  height: 472px;
  width: 143%;
  margin-top: -127px;
  box-shadow: 0px 0px 1px 0px black;
  display: inline;
  position: relative;
  float: left;

}

.data-content{
  width: 500px;
  height: 500px;
  /* overflow: hidden;
  margin: 0 auto; */




}


/* .data-content:hover img{
  transform: scale(1.5);
  cursor: pointer;

} */
#logCIK{
  height:100;
}

#wasteCollection{
  width: 253px;
  height: 257px;
}

#galleriesImage{
  width: 100%;
  height: 100%;
  border-radius: 3px;
  box-shadow: 1px 1px 4px 0px black;
}

#service1{
  width: 149px;
  height: 155px;
  border-radius: 50%;
  margin-top: 0px;
  border: 1px solid;
}

#service2{
  width: 156px;
  height: 152px;
  border-radius: 50%;
  margin-top: 0px;
  margin-left: -19px;
  border: 1px solid;
}
.more:hover{
  cursor: pointer;
  color: aqua;
}
